

<div class="media">
  <div class="media__img">
    <span CLASS="icon--container">
      <svg CLASS="icon icon--primary">
        <use xlink:href="images/sprites.svg#clock"></use>
      </svg>
    </span>
  </div>
  <div class="media__body">
    <h3 class="media__title">EASY SETUP & AUTOMATED UPDATES</h3>
    <p>
      
      LOREM IPSUM DOLOR, SIT AMET CONSECTETUR ADIPISICING ELIT. DOLORES
      SIMILIQUE EOS ALIQUID MOLLITIA OPTIO IMPEDIT SEQUI LAUDANTIUM TEMPORA IN
      RECUSANDAE EXERCITATIONEM IUSTO, QUAS PROVIDENT REICIENDIS AUT ASPERNATUR.
      REPREHENDERIT, DELECTUS SUNT!

    </p>
  </div>
</div>
