<section class="block block__plane container">
  <div class="grid grid--cols-3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card--header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">14$</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__desciption">Perfect for Home Use</span>
        </header>
        <div class="card--body">
          <!-- list -->
          <ul class="list list--tick">
            <li class="list--item">Unlimited Date Usage</li>
            <li class="list--item">Up to 50 Mpbs</li>
            <li class="list--item">24/7 customer Support</li>
            <li class="list--item">Free Installation</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
          <!--end list -->
        </div>
      </div>
    </div>

    <div class="plan plan-popular">
      <div class="card card--primary">
        <header class="card--header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">14$</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--primary">10% OFF</span>
          <span class="plan__desciption">Perfect for Home Use</span>
        </header>
        <div class="card--body">
          <!-- list -->
          <ul class="list list--tick">
            <li class="list--item">Unlimited Date Usage</li>
            <li class="list--item">Up to 50 Mpbs</li>
            <li class="list--item">24/7 customer Support</li>
            <li class="list--item">Free Installation</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
          <!--end list -->
        </div>
      </div>
    </div>

    <div class="plan">
      <div class="card card--secondary">
        <header class="card--header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">14$</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__desciption">Perfect for Home Use</span>
        </header>
        <div class="card--body">
          <!-- list -->
          <ul class="list list--tick">
            <li class="list--item">Unlimited Date Usage</li>
            <li class="list--item">Up to 50 Mpbs</li>
            <li class="list--item">24/7 customer Support</li>
            <li class="list--item">Free Installation</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
          <!--end list -->
        </div>
      </div>
    </div>
  </div>
</section>
