<div class="card testimonial">
    <div class="grid grid--cols-2">
      <div class="testimonial__img">
        <img src="images/testimonial.jpg" alt="A happy , smilling customer" />
        <span class="icon--container">
          <svg class="icon-small icon--primary">
            <use xlink:href="images/sprites.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Consequuntur molestiae velit voluptate eligendi, explicabo eos
          recusandae ipsa magni impedit itaque cupiditate fugit ea, veniam
          similique illum nulla perferendis error repellendus?
        </p>
        <footer>
          <div class="media">
            <div class="media__img">
              <span class="icon--container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprites.svg#line"></use>
                </svg>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title">john smith</h3>
              <p class="media__organization">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div> 
